@import "../mixins";

.account-page-wrapper {
  margin-top: 80px;
  padding-left: 20px;

  &__sidebar {
    position: fixed;
    width: 350px;
    padding: 0px 20px 20px 20px;
    @include flex(column, center, center);
    gap: 10px;

    .card-label {
      background-color: cadetblue;
      color: white;
      padding: 5px;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 2px;
      transition: padding-left 0.3s;
      width: fit-content;
      font-weight: bold;
    }

    #account_information {
      border: 1px solid #dadada;
      box-shadow: 1px 1px 10px #dadada;
      border-radius: 3px;
      transition: border-color 0.3s, box-shadow 0.3s;

      width: 270px;
      padding: 30px;
      @include flex(column, flex-start, flex-start);
      gap: 10px;

      &:hover {
        border-color: cadetblue;
        box-shadow: 1px 1px 5px cadetblue;
        .card-label {
          padding-left: 15px;
        }
      }

      .grid-container {
        width: 100%;

        .grid-row {
          display: grid;
          grid-template-columns: 1.1fr 2fr;
          margin-top: 10px;
          border-bottom: 1px solid #dadada;

          span {
            text-align: right;
          }
          #account-name {
            font-weight: bold;
          }
          .datetime {
            font-size: 14px;
          }

          label {
            color: gray;
            font-size: 14px;
          }
        }
      }
    }

    #summary-container {
      border: 1px solid #dadada;
      box-shadow: 1px 1px 10px #dadada;
      border-radius: 3px;
      transition: border-color 0.3s, box-shadow 0.3s;

      width: 270px;
      padding: 30px;
      @include flex(column, flex-start, flex-start);
      gap: 10px;

      &:hover {
        border-color: cadetblue;
        box-shadow: 1px 1px 5px cadetblue;
        .card-label {
          padding-left: 15px;
        }
      }

      .grid-container {
        width: 100%;

        .grid-row {
          display: grid;
          grid-template-columns: 1.1fr 2fr;
          margin-top: 10px;
          border-bottom: 1px solid #dadada;

          span {
            text-align: right;

            .num_of_transactions {
              color: gray;
              font-size: 13px;
            }
          }

          label {
            color: gray;
            font-size: 14px;
          }
        }
      }
    }
  }

  .main-container {
    left: 450px;
    position: absolute;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 2px #dadada;
    border-radius: 3px;
    padding-bottom: 20px;
    width: 900px;
    @include flex(column, flex-start, center);

    .empty-account,
    #loading-div {
      color: cadetblue;
      text-align: center;
      width: 100%;
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .time-filter-container {
      @include flex(row, flex-start, center);
      padding: 20px;
      padding-left: 25px;
      gap: 10px;
      align-self: flex-start;

      .month-buttons-container {
        @include flex(row, flex-start, center);
        gap: 5px;

        button {
          color: cadetblue;
          font-weight: bold;
          text-transform: uppercase;
          background-color: white;
          padding: 7px;
          border: none;
          transition: background-color 0.2s ease-out;

          &:hover {
            background-color: #dadada;
            border-radius: 3px;
          }
        }
      }
    }

    .transactions-list {
      .header {
        font-weight: bold;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-gap: 10px;
        width: 800px;
        padding: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid cadetblue;

        label {
          cursor: pointer;
          width: fit-content;
          height: fit-content;
        }

        label:hover {
          @include title-decoration($height: 3px, $width: 100%, $bottom: -1px);
        }
      }

      .content {
        height: 500px;
        overflow-x: hidden;
        overflow-y: scroll;
        /* hide scrollbar */
        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        overflow: -moz-scrollbars-none; /* Firefox */

        .transaction-item {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr;
          grid-gap: 10px;
          position: relative;
          cursor: pointer;
          width: 800px;
          padding: 20px;
          gap: 20px;
          border-bottom: 1px solid #eeebeb;
          transition: border-bottom 0.3s, background-color 0.3s, padding 0.3s,
            font-size 0.3s;

          .date {
            color: gray;
          }

          .new-transaction {
            color: white;
            background-color: cadetblue;
            width: fit-content;
            padding: 2px 5px;
            height: 13px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 12px;
            position: absolute;
            top: 0;
            right: 0;
            transition: padding 0.3s ease;
          }

          &:hover {
            background-color: #eeebeb;
            .new-transaction {
              padding: 2px 10px;
            }
          }
        }
      }
    }
  }
}
