@import "../mixins";

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1900;
  background-color: cadetblue;

  &__loggedin {
    height: 35px;
    @include flex(row, flex-start, center);
    gap: 10px;

    padding: 15px;
    color: black;

    .search-container {
      @include flex(row, center, center);
      gap: 10px;
      .search-field {
        width: 280px;
        height: 25px;
        border: 1px solid white;
        border-radius: 3px;
        transition: width 0.3s;
        color: cadetblue;
        font-weight: bold;
        font-size: 15px;

        &:focus {
          outline:none;
          width: 310px;
        }
      }
      .search-button {
        cursor: pointer;
        background-color: cadetblue;
        height: 25px;
        width: 25px;
      }

      .suggestions-container {
        position: absolute;
        background-color: white;
        box-shadow: 4px 4px 10px #DADADA;
        top: 70px;
        border-radius: 3px;
        width: 350px;
        z-index: 1900;
        padding: 5px 10px;

        .suggestion-item {
          @include flex(column, flex-start, flex-start);
          gap: 5px;
          padding: 5px;
          cursor: pointer;
          .date {
            width: 100%;
            .suggestion-type {
              background-color: white;
              border: 1px solid cadetblue;
              color: cadetblue;
              float: right;
              padding: 0px 5px;
              border-radius: 3px;
              font-size: 13px;
              text-transform: uppercase;
              transition: background-color 0.3s, color 0.3s;

              &:hover {
                background-color: cadetblue;
                color: white;
              }
            }
          }
          .tags {
              .tag {
                  background-color: cadetblue;
                  color: white;
                  font-weight: bold;
                  border-radius: 3px;
                  padding: 1px 6px 1px 6px;
                  margin-left: 5px;
              }
          }
          hr {
            width: 100%;
            border-color: transparent transparent cadetblue transparent;
          }
        }
      }

    }
    #logout-button {
      background-color: rgb(95, 158, 160);
      width: 25px;
      height: 25px;
      border-radius: 3px;
      padding: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgb(255, 0, 0, 0.5);
      }
    }
    
    .fullname-container{
      @include flex(row, flex-start, center);
      gap: 8px;
      border-right: 2px solid white;
      padding: 5px 15px 5px 10px;
      transition: background-color 0.2s ease-in;

      &:hover {
       background-color: steelblue; 
      }

      .fullname {
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
      .user-icon {
        cursor: pointer;
        width: 30px;
        height: 30px;
      }
    }

    button {
      padding-bottom: 8px;
      padding-top: 7px;
      color: white;
      background-color: cadetblue;
      border: none;
      text-decoration: none;
      border-bottom: 2px solid cadetblue;
      transition: border-bottom 0.2s ease-in;
      font-size: 14px;
      text-transform: uppercase;
    }

    button:hover{
      border-bottom: 2px solid white;
    }
    .currency-converter-form {
      margin-left: 50px;
      @include flex(row, flex-start, center);
      gap: 5px;
      #amount_field {
        width: 70px;
      }
    }

  }
}
