#notfound-wrapper {
  margin-top: 100px;
  border: 1px solid #dadada;
  box-shadow: 3px 3px 8px #dadada;
  border-radius: 3px;
  width: 500px;
  padding: 20px;
  margin-left: 33%;
  color: cadetblue;
  font-weight: bold;
  text-align: center;
}
