@import "../mixins";

.profile-wrapper {
  padding-top: 80px;
  padding-left: 20px;

  &__sidebar {
    position: fixed;
    width: 350px;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 2px #dadada;
    border-radius: 3px;
    padding: 20px 20px 20px 20px;
    @include flex(column, center, center);
    gap: 20px;

    .user-data {
      @include flex(column, center, center);
      gap: 5px;
      width: 350px;

      img {
        height: 100px;
        width: 100px;
      }

      div {
        width: 100%;

        div {
          display: grid;
          grid-template-columns: 1fr 2fr;

          label {
            text-align: right;
            font-weight: bold;
          }

          span {
            color: gray;
            font-size: 14px;
          }
          #percent_wealth_change {
            //position: absolute;
            cursor: pointer;
          }
          #wealth_change_tooltip {
            visibility: hidden;
            position: absolute;
            border: 1px solid cadetblue;
            background-color: cadetblue;
            color: white;
            border-radius: 3px;
            width: fit-content;
            padding: 5px;
            left: 5px;
            margin-top: 30px;
            right: 10px;
          }
        }
      }
    }

    hr {
      border-top: 1px solid cadetblue;
      width: 100%;
    }

    .accounts-glimpse {
      @include flex(column, center, center);
      gap: 10px;
      width: 350px;

      .header {
        @include flex(row, flex-start, center);
        width: 100%;

        .main-title {
          text-transform: uppercase;
          font-weight: bold;
        }

        .main-title:hover {
          cursor: pointer;
          @include title-decoration($height: 3px, $width: 100%, $bottom: -1px);
        }

        .more-link {
          flex-grow: 1;
          text-align: right;
        }
      }

      .accounts-list {
        @include flex(column, center, center);
        gap: 5px;
        width: 100%;

        .account-item {
          @include flex(row, flex-start, center);
          width: 330px;
          //position: relative;
          cursor: pointer;
          border: 1px solid #dadada;
          box-shadow: 1px 1px 3px #dadada;
          border-radius: 5px;
          padding: 10px;
          transition: box-shadow 0.2s ease-in-out, border-color 0.3s;

          .name {
            cursor: pointer;
          }

          .amount {
            cursor: pointer;
            flex-grow: 1;
            text-align: right;
          }
        }

        .account-item:hover {
          box-shadow: 1px 1px 3px cadetblue;
          border-color: cadetblue;
        }
      }
    }

    .download-data {
      @include flex(row, center, center);
      border: 1px solid #00a862;
      gap: 10px;
      width: 350px;
      padding: 7px 0 7px 0;
      background-color: white;
      color: #00a862;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s, font-size 0.3s;

      .download-icon {
        transition: filter 0.5s;
      }
    }

    .download-data:active {
      font-size: 16.5px;
    }

    .download-data:hover {
      background-color: #00a862;
      color: white;

      .download-icon {
        filter: hue-rotate(0deg) brightness(0) invert(1);
      }
    }

    .stats-button {
      @include flex(row, center, center);
      gap: 10px;
      border: 1px solid cadetblue;
      border-radius: 3px;
      width: 350px;

      text-align: center;
      padding: 6px 0px;
      color: cadetblue;
      text-decoration: none;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: cadetblue;
        color: white;
        cursor: pointer;
      }
    }

    #delete-account-btn {
      width: 350px;
      border: 1px solid red;
      border-radius: 3px;
      background-color: white;
      color: red;
      padding: 6px 0px;
      font-size: 16px;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  &__board {
    position: absolute;
    left: 450px;
    width: 1000px;
    padding: 0px 10px 10px 0px;

    overflow-x: hidden;
    overflow-y: scroll;

    /* hide scrollbar */
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    /* Firefox */

    .expenses,
    .incomes,
    .transfers {
      border: 1px solid #dadada;
      border-radius: 3px;
      margin-top: 20px;
      width: 100%;

      @include flex(column, flex-start, flex-start);
      padding-bottom: 10px;

      .header {
        @include flex(row, flex-start, center);
        padding: 15px 0;
        width: 100%;
        border-bottom: 1px solid #dadada;

        .main-title {
          text-transform: uppercase;
          font-weight: bold;
          margin-left: 15px;
        }

        .main-title:hover {
          cursor: pointer;
          @include title-decoration($height: 3px, $width: 100%, $bottom: -1px);
        }

        .more-link {
          flex-grow: 1;
          text-align: right;
          margin-right: 5px;
        }
      }
    }

    .expenses > .expense-item {
      position: relative;
      cursor: pointer;
      width: 100%;
      padding: 15px 0;
      transition: border-bottom 0.3s, background-color 0.3s, padding 0.3s,
        font-size 0.3s;

      display: grid;
      grid-template-columns: 0.7fr 1.5fr 1fr 1fr 1fr;
      grid-gap: 10px;

      label {
        cursor: pointer;
      }

      #date {
        color: gray;
        margin-left: 15px;
      }

      .new-transaction {
        color: white;
        background-color: cadetblue;
        width: fit-content;
        padding: 3px 5px;
        border-bottom-left-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
        transition: padding 0.3s ease;
      }

      &:hover {
        background-color: #eeebeb;

        #amount {
          font-weight: bold;
        }

        .new-transaction {
          padding: 3px 10px;
        }
      }

      &:active {
        padding: 25px 20px 25px 20px;
        font-size: 17px;
      }
    }

    .incomes > .income-item {
      position: relative;
      cursor: pointer;
      width: 100%;
      padding: 15px 0;
      transition: border-bottom 0.3s, background-color 0.3s, padding 0.3s,
        font-size 0.3s;

      display: grid;
      grid-template-columns: 0.7fr 1.5fr 1fr 1fr 1fr;
      grid-gap: 10px;

      label {
        cursor: pointer;
      }

      #date {
        color: gray;
        margin-left: 15px;
      }

      .new-transaction {
        color: white;
        background-color: cadetblue;
        width: fit-content;
        padding: 3px 5px;
        border-bottom-left-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
        transition: padding 0.3s ease;
      }

      &:hover {
        background-color: #eeebeb;

        #amount {
          font-weight: bold;
        }

        .new-transaction {
          padding: 3px 10px;
        }
      }

      &:active {
        padding: 25px 20px 25px 20px;
        font-size: 17px;
      }
    }

    .transfers > .transfer-item {
      position: relative;
      cursor: pointer;
      width: 100%;
      padding: 15px 0;
      transition: border-bottom 0.3s, background-color 0.3s, padding 0.3s,
        font-size 0.3s;

      display: grid;
      grid-template-columns: 0.7fr 1.5fr 1fr 1fr 1fr;
      grid-gap: 10px;

      label {
        cursor: pointer;
      }

      #date {
        color: gray;
        margin-left: 15px;
      }

      .new-transaction {
        color: white;
        background-color: cadetblue;
        width: fit-content;
        padding: 3px 5px;
        border-bottom-left-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
        transition: padding 0.3s ease;
      }

      &:hover {
        background-color: #eeebeb;

        #amount {
          font-weight: bold;
        }

        .new-transaction {
          padding: 3px 10px;
        }
      }

      &:active {
        padding: 25px 20px 25px 20px;
        font-size: 17px;
      }
    }
    .no_transactions {
      width: 100%;
      border: 1px solid #dadada;
      box-shadow: 1px 1px 2px #dadada;
      border-radius: 3px;
      padding: 15px 0;
      margin: 15px 0;
      text-align: center;
    }
  }
}
