@import '../mixins';

.searchresults-wrapper {
    margin-top: 70px;
    padding: 0 20px 20px 20px;
    @include flex(column, flex-start, flex-start);
    gap: 30px;

    &__incomes, &__expenses, &__transfers {
        width: 100%;
        height: 400px;
        @include flex(column, flex-start, flex-start);
        gap: 10px;
        box-shadow: 2px 2px 8px #DADADA;

        .header {
            width: 100%;
            height: 40px;
            font-weight: bold;
            position: relative;

            label {
                position: absolute;
                font-size: 28px;
                background-color: cadetblue;
                color: white;
                border-radius: 3px;
                padding: 5px 5px;
                transition: padding-left 0.3s;
            }

        }

        &:hover {
            .header {
                label {
                    padding-left: 20px;
                }
            }
        }
    }

    &__header{
        width: 100%;
        height: 80px;
        //border: 2px solid cadetblue;

        label {
            padding: 10px 10px 10px 0;
            background-color: cadetblue;
            color:white;
            width: 300px;
            font-size: 33px;
            font-weight: bold;
            position: relative;
            top: 20px;
            transition: padding-left 0.4s;
            border-radius: 3px;

            &:hover {
                padding-left: 40px;
            }
        }
    }

}