@import "../../mixins";

.dashboard-wrapper {
  margin-top: 80px;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  height: 100%;

  &__toolbar {
    position: fixed;
    @include flex(row, flex-start, flex-start);
    gap: 10px;
    padding: 10px;
    padding-left: 0;
    width: 100%;
    z-index: 4000;

    #incomes, #expenses, #transfers, #stats {
      border: 1px solid cadetblue;
      padding: 5px 5px 5px 5px;
      color: cadetblue;
      background-color: white;
      width: 100px;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }
    #incomes:hover, #expenses:hover, #transfers:hover, #stats:hover{
      background-color: cadetblue;
      border-radius: 5px;
      color: white;
    }
    .date-filter {
      @include flex(row, flex-start, flex-start);
      gap: 40px;
      margin-left: 120px;

      .fromDatePicker,
      .toDatePicker {
        position: relative;
        display: inline-block;

        .datepicker {
          border: 2px solid cadetblue;
          border-radius: 3px;
          width: 70px;
          height: 20px;
          padding: 0 7px;
          cursor: pointer;
        }
        span {
          background-color: cadetblue;
          color: #fff;
          padding: 1.2px 5px;

          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;

          position: absolute;
          top: 3px;
          transition: left 0.2s ease-in-out;
          visibility: hidden;
          font-weight: normal;
          text-transform: capitalize;
          font-size: 13px;
        }
      }
      .fromDatePicker > span {
        left: -55%;
      }
      .toDatePicker > span {
        left: -30%;
      }
      .toDatePicker:hover > span {
        visibility: visible;
        left: -40%;
      }
      .fromDatePicker:hover > span {
        visibility: visible;
        left: -60%;
      }
    }
  }

}
