@import "../../mixins";

.transfers-wrapper {
  position: relative;
  margin-top: 50px;

  &__sidebar {
    position: fixed;
    width: 350px;
    @include flex(column, center, flex-start);
    gap: 10px;

    .enter-transfer {
      border: 1px solid #dadada;
      box-shadow: 1px 1px 5px #dadada;
      border-radius: 3px;
      width: 270px;
      padding: 30px;
      transition: box-shadow 0.3s, border 0.3s;

      .form {
        @include flex(column, flex-start, flex-start);
        gap: 10px;
        input,
        select {
          width: 270px;
        }
        label {
          text-transform: uppercase;
          font-weight: bold;
          background-color: cadetblue;
          color: white;
          padding: 5px;
          border-radius: 2px;
          cursor: pointer;
          transition: padding-left 0.3s;
        }
      }
    }
    .enter-transfer:hover {
      border: 1px solid cadetblue;
      box-shadow: 1px 1px 5px cadetblue;
      label {
        padding-left: 15px;
      }
    }
  }

  &__transfers-list {
    position: absolute;
    left: 400px;
    width: 900px;
    @include flex(column, flex-start, flex-start);
    .header {
      font-weight: bold;
      text-transform: uppercase;
      display: grid;
      grid-template-columns: 0.7fr 1.5fr 1fr 1fr 1fr;
      grid-gap: 10px;
      width: 800px;
      padding: 20px;
      border-bottom: 1px solid black;
      margin-bottom: 10px;

      label {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
      }

      label:hover {
        @include title-decoration($height: 3px, $width: 100%, $bottom: -1px);
      }

      .datepicker {
        width: 80px;
      }
    }
    .transfers {
      @include flex(column, flex-start, flex-start);
      gap: 15px;
      height: calc(100vh - 230px);
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;

      /* hide scrollbar */
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      overflow: -moz-scrollbars-none; /* Firefox */

      .transfer-item {
        cursor: pointer;
        border: 1px solid #dadada;
        box-shadow: 1px 1px 3px #dadada;
        border-radius: 5px;
        width: 800px;
        padding: 20px;
        transition: border-color 0.3s;

        display: grid;
        grid-template-columns: 0.7fr 1.5fr 1fr 1fr 1fr;
        grid-gap: 10px;

        label {
          cursor: pointer;
        }

        #date {
          color: gray;
        }
      }
      .transfer-item:hover {
        border-color: cadetblue;
        #amount {
          font-weight: bold;
        }
      }
    }
  }
}
