@import "../../mixins";

.stats-wrapper {
  margin: 20px 0px 20px 25px;

  @include flex(row, flex-start, center, wrap);
  flex: 0 0 calc(33% - 20px);
  gap: 30px;

  .chart-container {
    @include flex(column, center, center);
    border: 1px solid #dadada;
    box-shadow: 3px 3px 10px #dadada;
    border-radius: 3px;

    .chart {
      border: none;
      margin: 5px;
      height: 320px;
      text-align: center;
    }

    #sankey-legend {
      position: absolute;
      color: black;
      bottom: 20px;
      background-color: #d3d3d3;
      padding: 7px;
      font-size: 13px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
