@import "../../mixins";

.loading-card {
  left: 520px;
  position: absolute;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 2px #dadada;
  border-radius: 3px;
  padding-bottom: 20px;
  width: 500px;
  padding: 20px 30px;

  @include flex(row, flex-start, center);
  gap: 10px;
}
