@import "../../mixins";

.loading-card {
  margin: 20px auto;
  position: static;
  border: 1px solid var(--border);
  box-shadow: 1px 1px 2px var(--shadow);
  border-radius: 3px;
  padding-bottom: 20px;
  width: min(500px, calc(100vw - (var(--page-gutter) * 2)));
  padding: 20px 30px;

  @include flex(row, flex-start, center);
  gap: 10px;
}
