@import "../../mixins";

div[class^="toast-wrapper"] {
    position: fixed;
    width: fit-content;
    padding: 10px 20px;
    top: 30px;
    transform: translateY(30px);
    left: 43%;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, top 0.3s ease-in-out;
}

.toast-wrapper-info {
    background-color: cadetblue;
    color: white;
}

.toast-wrapper-success {
    background-color: green;
    color: white;
}

.toast-wrapper-error {
    background-color: red;
    color: white;
}

div[class$="show"] {
    top: 40px;
    opacity: 1;
}
