@import "../../mixins";

.login-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;

  @include flex(row, center, center);
  #left-side-wrapper,
  #login-wrapper {
    flex: 1;
    max-width: 50%;
  }

  #left-side-wrapper {
    border-right: 1px solid cadetblue;
    height: 600px;
    max-height: 600px;
    padding: 20px;
    overflow: hidden;
    position: relative;

    .sentences {
      display: flex;
      flex-direction: column;
      transition: transform 1.2s ease-in-out;
    }

    .sentence {
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 60px;
      text-align: center;
      font-weight: 100;
    }
  }
  #login-wrapper {
    @include flex(row, center, center);
    .form {
      @include flex(column, center, flex-start);
      gap: 15px;
      padding: 20px;
      transition: box-shadow 0.3s, border 0.3s;

      .field_email,
      .field_password {
        width: 450px;
        height: 55px;
        border: 1px solid #dadada;
        border-radius: 3px;
        font-size: 18px;
      }

      span {
        color: red;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
      }

      label {
        text-transform: uppercase;
        font-weight: bold;
        background-color: cadetblue;
        color: white;
        padding: 5px;
        border-radius: 2px;
        cursor: pointer;
        transition: padding-left 0.3s;
      }

      #submit-button {
        border: 1px solid cadetblue;
        background-color: white;
        border-radius: 3px;
        color: cadetblue;
        padding: 5px;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
        font-size: 16px;

        &:hover {
          background-color: cadetblue;
          color: white;
        }
      }
      #register-link {
        color: cadetblue;
        font-weight: bold;
        transition: color 0.3s;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
